---
- name: Restart containerd
  systemd:
    name: containerd
    daemon_reload: true
    state: restarted
    enabled: true

- name: Restart multipath-tools
  systemd:
    name: multipath-tools
    daemon_reload: true
    state: restarted
    enabled: true
